<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sentiment Analysis</title>
</head>

<body>
    <header>

    </header>

    <main>


        <form onsubmit="handleSubmit(event)">
            <label for="url-input">Enter URL of article or blog for sentiment analysis:</label>
            <input id="url-input" type="text" name="input" value="" placeholder="Article or blog URL goes here ...">
            <input type="submit" name="" value="Run Sentiment Analysis">
        </form>

        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

    <script src="./src/client/js/formHandler.js"></script>

</body>

</html>