body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ded0b7;
    font-family: "Lucida Console", "Courier New", monospace;
}

main {
    flex: 2em;
    margin: 2ex;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
