/************************/
/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4e8ef;
    padding: 20px 0;
}

.copy-right{
    margin-top: 30px;
    font-size: 0.75rem;
}
/* Footer End*/
/************************/