body{
    background-image: url(moresimple.jpg);
    color: rgb(232, 243, 235);
    min-height: 3000px;
    display: grid;
    grid-template-rows: repeat(7,auto);

}
#navid{
    list-style: none;
   width: 100%;
   height: min-content;
   display: grid;
   grid-template-columns: auto auto auto auto;
   background-color:  rgb(4, 24, 42);
}
.navList{
    margin: 2px 2px 2px 0px;
    padding: 0px 2px 0px 2px ;
    border-radius: 0px;
    text-align: center;
    

}
a{
    color: aliceblue;
    text-decoration: none;
}
#imgdiv{
    width: 100%;
    height: min-content;
   
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
}
img{
    width: 60%;
    height:min-content
}
.section{
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
   /* background-color: rgb(33, 32, 47);*/
    padding-left: 3%;
    padding-bottom: 3%;
    margin-bottom:400px ;
    
    
}
