/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 *
 * For simplicity, no reset or normalize is added.
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

html {
    box-sizing: border-box;
    font: 96% "Merriweather", serif;
    text-rendering: optimizeLegibility;
  }

  @media only screen and (max-width: 1100px) {
    html {
      font-size: 80%;
    }
  }

  /* ---- Base Rules ---- */
  body {
    background: rgb(136, 203, 171);
    background: linear-gradient(
      0deg,
      rgba(136, 203, 171, 1) 0%,
      rgba(0, 13, 60, 1) 100%
    );
    margin: 0;
    color: #fff;
  }

  /* Typeography General*/
  h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 3em;
    margin: 4em 1rem 2em;
  }

  @media only screen and (min-width: 35em) {
    h1 {
      font-size: 7em;
      margin: 2em 4rem 1em;
    }
  }

  h2 {
    border-bottom: 1px solid #cc1;
    font-family: "Oxygen", Sans-Serif;
    font-size: 3em;
    color: #fff;
  }

  p {
    line-height: 1.6em;
    color: #eee;
  }

  /* ---- Layout Rules ---- */
  main {
    margin: 10vh 1em 10vh;
  }

  .main-hero {
    min-height: 40vh;
    padding-top: 3em;
  }

  section {
    position: relative;
    min-height: 40vh;
  }

  /* ---- Module Rules ---- */

  /* Navigation Styles*/
  .navbar__menu ul {
    height: 100%;
    padding-left: 0;
    margin: 0;
    text-align: right;
    /*editing the links alignment*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.3s linear;
  }

  .navbar__menu ul.hide {
    display: none;
  }

  .navbar__menu li {
    display: inline-block;
  }

  .navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
  }

  .navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
  }

  .navbar__menu .menu__link--active {
    background: #333;
    color: #cc1;
    transition: ease 0.3s all;
  }

  /* Header Styles */
  .page__header {
    background: #fff;
    position: fixed;
    transform: translate3d(0, 0, 0);
    top: 0;
    width: 100%;
    z-index: 5;
  }

  /* Footer Styles */
  .page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
  }

  .page__footer p {
    color: #fff;
  }

  /* Bottom page link */
  .bottom__link {
    position: fixed;
    bottom: 2em;
    right: 8em;
    z-index: 10;
    text-align: right;
    color: #333;
    text-decoration: none;
    background: #cc1;
    padding: 1em;
    border-radius: 50%;
  }

  .bottom__link.hide {
    display: none;
  }

  @media only screen and (max-width: 1100px) {
    .bottom__link {
      right: 2em;
    }
  }

  /* ---- Theme Rules ---- */
  /* Landing Container Styles */
  .landing__container {
    padding: 1em;
    text-align: left;
  }

  @media only screen and (min-width: 35em) {
    .landing__container {
      max-width: 50em;
      padding: 4em;
    }
  }

  section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }

  /* Background Circles */
  /* Note that background circles are created with psuedo elements before and after */
  /* Circles appear to be random do to use of :nth-of-type psuedo class */
  section:nth-of-type(odd) .landing__container::before {
    content: "";
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
  }

  section:nth-of-type(even) .landing__container::before {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
  }

  section:nth-of-type(3n) .landing__container::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
  }

  section:nth-of-type(3n + 1) .landing__container::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    position: absolute;
    right: 20vh;
    bottom: -5em;
    z-index: -5;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
  }

  /* ---- Theme State Rules ---- */
  /* Section Active Styles */
  /* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
  section.active {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  section.active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
  }

  section.active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
  }

  /* Section Active Styles Keyframe Animations */
  @keyframes rotate {
    from {
      transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
  }
