html, body {
    font-size: 16px;
    line-height: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
    vertical-align: baseline;
}
p {
    margin: 1em 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.42857143;
}
.container {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
}
.panel-title {
    font-weight: bold; 
}
.profile-pic {
    padding-right: 0.5em;
}
.profile-details {
    display: inline-block;
}
.profile-name, .profile-role {
    margin: 0;
}
.exponent {

}
.subscript {

}
.profile-details {

}
.fox, .dog {

}
@media (min-width: 800px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 100%;
  }
}