@import "mobile.css";
@import "tablet.css";
@import "blog.css";
* {
    box-sizing: border-box;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: .2em;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 4em auto 4em;
    grid-template-areas: "header header" "sidebar main" "footer footer";
}

header, aside, main, footer {
    padding: 1.25em;
    text-align: center;
}

header {
    background: #521751;
    grid-area: header;
}

aside {
    background: #fa923f;
    grid-area: sidebar;
}

main {
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer {
    background: black;
    grid-area: footer;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navigation-item {
    margin: 0;
    padding: 1em;
}

.navigation-item a {
    text-decoration: none;
    color: white;
}

.navigation-item a:hover, .navigation-item a:active {
    color: #fa923f;
}

.card {
    margin: .5em;
    padding: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}