body {
  text-align: left;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
/*    margin: 0 auto;*/
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content:left;
}

.flex-inside {
  flex:1 0 0;
}
