@font-face {
	font-family: 'quotable-icons';
	src:url('quotable-icons.eot?fmeejy');
	src:url('quotable-icons.eot?#iefixfmeejy') format('embedded-opentype'),
		url('quotable-icons.woff?fmeejy') format('woff'),
		url('quotable-icons.ttf?fmeejy') format('truetype'),
		url('quotable-icons.svg?fmeejy#quotable-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

#quotable-toolbar, .quotable-link {
	font-family: 'quotable-icons';

	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-decoration: none;
}
.quotable-link:hover {
	text-decoration: none;
}

#quotable-toolbar {
	position: absolute;
	display: block;
	padding: 5px 10px;
	line-height: 1.5em;
	text-align: center;
	text-decoration: none;
	background: #eeeeee;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
}

#quotable-toolbar:after, #quotable-toolbar:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#quotable-toolbar:after {
	border-color: rgba(238, 238, 238, 0);
	border-top-color: #eeeeee;
	border-width: 6px;
	margin-left: -6px;
}
#quotable-toolbar:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0.3);
	border-width: 7px;
	margin-left: -7px;
}

.quotable-link {
	text-decoration: none;
	font-style: normal;
}

span[data-quotehover=true] {
	background: rgba(100,100,100,0.1);
}