*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "hd hd"
    "zip mre"
    "fee mre"
    "gen gen";
    height:100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    /* grid-gap: 1em; */
    font-size: 1em;
}

.holder{
    margin-left: 1em;
}

.entry{
    grid-area: mre;
    margin: 1em;
    background: #22b2da;
    font-size: 1.5em;
}

.zip {
    grid-area: zip;
}

.feel {
    grid-area: fee;
}

#generate
{
    grid-area: gen;
    margin: 1em;
}


#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    grid-area: hd;
    font-size: 2.5em;
}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1.5em;
}

input{
    display:block;
    height: 40px;
    width: 250px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 1.2em;
    border: none;
}

button{
    width: 200px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 1.2em;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;

}